<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="Aboutme">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quia sint molestiae quae aspernatur distinctio, numquam ex incidunt quidem assumenda mollitia ducimus soluta perspiciatis dolorem ad tenetur architecto modi ut rerum molestias consequuntur. Officiis repudiandae quae delectus odio impedit? Totam sit alias dolores consequatur, nesciunt provident ab optio iusto a repellat amet modi quo. Atque tenetur eligendi repellendus iusto sint aspernatur molestias eius quam. Fuga, eveniet! Cumque, excepturi quidem consequatur nesciunt ullam perspiciatis, corrupti, iure veritatis nam perferendis assumenda eum a possimus harum rem explicabo magni dignissimos voluptas itaque hic molestias quo saepe et delectus. Consequuntur dolore delectus id harum.</p>
    </section>
</body>
</html>